* {
	font-family: sans-serif;
}

body {
	background-color: whitesmoke;
}

h1 {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.button {
	border-width: 0px;
	margin: 10px auto;
	width: 200px;
	transition-duration: 0.5s;
	background-color: gainsboro;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
}

.button:hover, .button:active {
	background-color: #eff21b;
}

.inline {
	display: inline-block;
}

img.mainimg {
	display: block;
	margin: 2% auto;
	width: 50%;
}

p {
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

p.bottom {
	bottom: 50px;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}

.center {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.center-block {
	display: block;
	margin: auto;
}
